.ambassador {
    font-stretch: expanded;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 25px;
    margin-right: 120px;
    margin-left: 120px;
}

.elem0amb {
    text-align: center;
    /* margin-left: 150px; */
    justify-content: center;
}

.element1amb {
    font-size: 18px;
    font-size: medium;
    font-weight: bold;
    width: auto;
}

.verticalLine1a {
    border-bottom: solid rgba(0, 0, 0, 0.822);
}

.itl {
    font-style: italic;
}

.amb-btn {
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    /* margin: 1rem; */
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
}

:hover.amb-btn {
    background: #33ccff;
    color: white;
}