.ambassador {
    font-stretch: expanded;
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 80px;
}

.head {
    text-align: center;
    border-radius: 25px;
    font-size: 18px;
    border: 2px solid #e7ecec;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 50px;
    width: 1062px;
    height: 75px;
    justify-content: center;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    text-shadow: 2px 2px 5px rgb(197, 114, 230);
}

.element0 {
    text-align: center;
    border-radius: 25px;
    font-size: 18px;
    border: 2px solid #e7ecec;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 50px;
    width: 1062px;
    height: 75px;
    justify-content: center;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    text-shadow: 2px 2px 5px rgb(197, 114, 230);
}

.element1a {
    font-style: oblique;
    font-size: 18px;
    font-size: medium;
    width: 1062px;
    border-radius: 25px;
    border: 0.1px #e7ecec;
    background-color: #33ccff;
    padding-left: 10px;
}

.verticalLine1a {
    border-bottom: solid rgba(0, 0, 0, 0.822);
}

.itl {
    font-style: italic;
}

.btn {
    text-align: center;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
}

:hover.btn {
    background: #33ccff;
    color: white;
}