.ielts {
    font-stretch: expanded;
    font-size: 18px;
    margin-top: 3vh;
    margin-bottom: 25px;
    margin-right: 8vw;
    margin-left: 8vw;
}

.elem0ielts {
    text-align: center;
    /* margin-left: 410px; */
    justify-content: center;

}

.element1ielts {
    font-size: 18px;
    font-size: medium;
    font-weight: bold;
    width: auto;
}

.redtext {
    color: rgb(228, 19, 19);
    display: inline-block;
}

.bltext {
    color:#5233ff;
    font-weight: bold;
}

.para1 {
    margin-left: 27px;
    width: auto;
}

.para2 {
    margin-left: 10px;
    width: auto;
}

.itlpara {
    font-style: italic;
    width: auto;
}

.headcentre {
    text-align: center;
}

.paracentre{
    text-align: center;
}

.btn-ielts {
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
    /* margin-left: 16rem;  */
}

:hover.btn-ielts, :hover.btn-ielts-2 {
    background: #33ccff;
    text-decoration: none;
    color: white;
}

.btn-align {
    /* margin-left: 170px;
    margin-right: 170px; */
    display: inline-block;
    float:right;
}

.btn-ielts-2 {
    text-align: center;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;    
    /* margin: left 12rem; */
     /* margin-left: 12rem;  */
} 

.ieltsp {
    font-stretch: expanded;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ieltsinside {
    text-align: center;
    font-size: 20px;
}

.ielphead {
    text-align: center;
    border-radius: 25px;
    font-size: 18px;
    padding-top: 15px;
    height: 75px;
    justify-content: center;
}

.ielph3-btn {
    font-size: 18px;
    text-align: center;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 45vw;
    text-decoration: none;
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
}

:hover.ielph3-btn {
    background: #33ccff;
    color: white;
}

.verticalLineieltsp {
    border-bottom: rgba(94, 85, 85, 0.822);
}

@media screen and (max-width: 768px) {
    .btn-ielts {
        margin-left: 0vw;
    }

    .btn-ielts-2 {
        margin-left: -3vw;
    }

    .ielph3-btn {
        margin-left: 33vw;
    }
}