._2Hij5 {
    font-stretch: expanded;
    font-size: 18px;
    margin-top: 3vh; 
    margin-bottom: 25px;
    margin-left: 8vw;
    margin-right: 8vw;
}

.verticalLine1 {
    border-bottom: solid rgba(0, 0, 0, 0.822);
}
.internship{
    margin-top: 3vh;
}

.para {
    font-size: 18px;
    font-stretch: expanded;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
}

.elem_0intern {
    justify-content: center;
}

.element1ntern {
    font-size: 18px;
    font-size: medium;
    font-weight: bold;
    width: auto;
}

.element2 {
    font-style: italic;
    font-size: 18px;
    color:rgb(210, 51, 30);
}

.collapsible {
    font-size: 18px;
    margin-top: 3vh;
    margin-bottom: 25px;
}

.header {
    font-size: 18px;
    text-align: center;
    margin-right: 430px;
    cursor: pointer;
    font-stretch: expanded;
    font-weight: bolder;
}

.content {
    font-stretch: expanded;
    font-size: large;
}

.para2 {
    font-size: 18px;
}

.btn-intern1 {
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
}

:hover.btn-intern1 {
    background: #33ccff;
    text-decoration: none;
    color: white;
}

.btn-intern-this {
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
    margin-left: 32vw;
}

:hover.btn-intern-this {
    background: #33ccff;
    text-decoration: none;
    color: white;
}

.link-here {
    display: contents;
    color: blue;
    font-size:large;
}

@media screen and (max-width: 768px) {
    .btn-intern-this {
        padding-right: 100px;
        margin-left: 22vw;
    }
}