._2Hij5 {
    font-stretch: expanded;
    font-size: 18px;
    margin-top: 25px; 
    margin-bottom: 25px;
    margin-right: 120px;
    margin-left: 120px;
}

.verticalLine1 {
    border-bottom: solid rgba(0, 0, 0, 0.822);
}
.internship{
    margin-top: 55px;
}

.para {
    font-size: 18px;
    font-stretch: expanded;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 120px;
    margin-left: 120px;
}

.elem0intern {
    text-align: center;
    margin-left: 240px;
}

.element1ntern {
    font-size: 18px;
    font-size: medium;
    font-weight: bold;
    width: auto;
}

.element2 {
    font-style: italic;
    font-size: 18px;
    color:rgb(210, 51, 30);
}

.collapsible {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 80px;
}

.header {
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    font-stretch: expanded;
    font-weight: bolder;
    text-decoration: underline;
}

.content {
    font-stretch: expanded;
    font-size: medium;
}

.para2 {
    font-size: 18px;
}

/* .inhead {
    font-style: oblique;
    font-size: 18px;
    width: 1060px;
    border-radius: 25px;
    border: 0.1px #e7ecec;
    background-color: #33ccff;
    padding-left: 10px;
} */

.btn-intern {
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
}

:hover.btn-intern {
    background: #33ccff;
    text-decoration: none;
    color: white;
}