.overseas {
    font-stretch: expanded;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 25px;
    margin-right: 35px;
    margin-left: 120px;
}

.elem0over {
    display: flex;
    justify-content: center;
}

.paraover {
    display: flex;
    justify-content: center;
}

.paraover1 {
    margin-left: 27px;
}

.wrapperover {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 20rem));
    gap: 3rem;
    justify-content: center;
    display: inline;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 12rem;
    gap: 7rem;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-items: center;
    justify-content: space-evenly;
}