.ppol {
    font-stretch: expanded;
    font-size: 18px;
    margin-top: 3vh;
    margin-bottom: 25px;
    margin-right: 8vw;
    margin-left: 8vw;
}

.elem0pp {
    text-align: center;
    justify-content: center;
}