.progmain {
    font-stretch: expanded;
    font-size: 18px;
    margin-top: 3vh;
    margin-bottom: 0px;
    margin-right: 8vw;
    margin-left: 8vw;
}

.proghead1 {
    display: flex;
    justify-content: center;
}

.proghead2 {
    font-size: 18px;
    font-size: medium;
    font-weight: bold;
    width: auto;
}

.progpara1 {
    margin-left: 29px;
    width: auto;
}

.progbtn1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
    text-align: center;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
}

.progbtn2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30vw;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
}

.progbtn3 {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 81px;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid #33ccff;
    background: transparent;
    color: #33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
}

:hover.progbtn1, :hover.progbtn2, :hover.progbtn3 {
    background: #33ccff;
    color: white;
}

@media screen and (max-width: 768px) {
    .progbtn2 {
        margin-left: 24vw;
        margin-bottom: 2vh;
    }

    .progbtn3 {
        margin-left: 24vw;
        margin-bottom: 2vh;
    }
}

.progcont {
    background-color: rgb(170, 168, 168);
    width: 80%;
    border-radius: 15px;
    margin-left: 6vw;
}
.seats {
    background-color: rgb(99, 86, 211);
    color: white;
    padding: 0.4%;
    text-align: right;
    border-radius: 15px;
    width: 80%;
}