*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

/* body {
    font-family: Oxygen, sans-serif;
    margin:-2rem;
} */

.sldi98{
    margin-top: 60px;
}

.wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 20rem));
    gap: 3rem;
    justify-content: center;
}

.card {
    width: 320px;
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 200ms ease-in;
}

.card__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card__title {
    padding: 1rem;
}

.card__description {
    padding: 0 1rem;
}

.highlights {
    padding: 0 1rem;
}

.card__btn {
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #33ccff;
    background: transparent;
    color:#33ccff;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

.card:hover .card__btn {
    background: #33ccff;
    color: white;
}

.elem0train {
    text-align: center;
    margin-left: 74px;
}