.hero {
  display: flex;
  /* background-image: url("./assets/10502.jpg"); */

  /* background: linear-gradient(160deg,#de6262   20%, #ffb88c 100%); */

  /* position: absolute; */
  /* background-color: red; */
  /* width: auto; */
  height: 100vh;
  /* padding-top: 28%; */
  /* padding-right: 50px; */
  color: #fff;
  margin-top: -5%;
}

.head-container {
	flex: 1;
  border: 1px solid black;
  display: flex;
  align-items: center;

}

.row1{
  display: flex;
  width:40%;
  /* margin-left: 5.5%; */
}

.photo{
  display: flex;
  width:55%;
  height:70%;
  display: block;
  margin-top: 7%;
  margin-left: 8%;
  margin-right: auto;
  width: 50%;
}

.button{
  margin-top: 1%;
  margin-right: 80%;
}

.primary-btn{
  margin-right: 2%;
  margin-left: 50%;
  display:flex; 
  /* flex-direction:row; */
  background-color: #fff;
}

.hero #heading h3 {
  color: #fff;
}
.hero #heading {
  text-align: left;
  margin: 0;
  padding: 0;
}

.txtbtn{
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  margin-left: 20%;
  margin-bottom: 20%;
  margin-top:55%;
  height:20%;
}

/* .primary-btn:hover {
  background-color: #000000;
  color: rgb(255, 0, 0);
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
} */
@media screen and (max-width: 960px) {
  .margin {
    /* height: 40vh; */
  }
  .hero {
    /* background-position: right; */
    /* padding-top: 50%; */
    max-height: 300px;
  }
  .hero .row1 {
    width: 100%;
    /* width:100%; */
    margin: auto;
    font-size: medium;
    /* width: 50%; */
    /* border: 3px solid green; */
    padding: 10px;
  }

  .photo{
    display: none;
  }
  .txtbtn{
    margin: auto;
    width: 100%;
  /* border: 3px solid green; */
     /* padding: 10px; */
     margin-top: 20%;
  }
  .ratingcard-area{
    flex-direction: column;
    align-items: center;

  }
}
