 .carousel
 { 
    margin-bottom: 2%;
    width: auto;
    background-color: rgb(230, 230, 230);
 } 

.imgslider{
    height: auto;
    margin-left: 10vw;
    margin-right: 10vw;
}
  
.slick-slide img {
    margin: auto;
    width: auto;
    height: 2%;

}

