.aboutHome {
    display: flex;
    height: auto;
    width: auto;
  }

  .container{
    display:flex; 
    flex-direction:row;
    background-color: #fff;
    
  }

  .row{
    display: flex;
    /* width: 40%; */
    /* margin: auto; */
    width: 50%;

  }

  /* .left-row{
    width: 55%;
  } */
  
 

.img1{
  /* position: relative; */
  /* margin-left: -25px; */
  margin: auto;
  width: 50%;
  /* padding: 10px; */
}
  .aboutHome #heading {
    text-align: left;
    padding: 0;
  }

  .aboutHome .left img {
    display: flex;
    width: 400px;
    height: 740px;
    background-size: cover;
    object-fit: cover;
  }
  .aboutHome .right {
    display: flexbox;
    /* background-color: black; */
  }
  .aboutHome .items {
    margin-top: 50px;
  }
  .aboutHome .item {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    margin-top: 15px;
    padding: 20px;
    width: auto;
    height: auto;
    transition: 0.5s;
    justify-content: space-evenly;
  }
  .aboutHome .img {
    width: 0px;
  }
  .aboutHome img {
    width: 50px;
    height: 50px;

    
  }
  .aboutHome .item h2 {
    font-size: 20px;
    margin-bottom: 7px;
  }
  .aboutHome .item p {
    color: #999999;
  }
  .aboutHome .item:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  }
  .aboutHome .item:hover p {
    color: #fff;
  }
  @media screen and (max-width: 810px) {
  .aboutHome .left img {
    width: 380px;
    height: 730px;
    background-size: cover;
    object-fit: cover;
  }
}
  @media screen and (max-width: 768px) {
    /* .img1{
      display: none;
    } */

    .aboutHome .left img {
      display: none;
    }
    .aboutHome .left{
      display: none;
    }

    .aboutHome .right{
      margin-left: 4%;
      width: auto;
    }

    
  }