
/* .App{
  width:auto;
  margin-right:5%;
  background-color: #00a0dc;
  width: 100%;
} */

body {
  display:initial;
  background-color: white;
  /* overflow-x:hidden; */
  width: 100%;
  /* margin-left:10%; */
}
  